.footer {
	grid-area: f;
	width: 100%;
	margin: auto;
	background-color: rgba(247, 5, 5, 0.295);
	
	
}
@media (min-width: 1028px) {
	.footer {
		height: 100%;
		display: flex;
		justify-content: flex-end;
		align-items: center;
		flex-direction: column;

		& .footer-container {
			width: 100%;

			& a {
				width: 100%;
				color: rgb(34, 50, 67);
				display: flex;
				justify-content: center;
				align-items: center;

				text-decoration: none;
				font-size: 16px;
				& p {
					padding: 5px;
					margin: 0px;
				}
				& .footer-icon {
					margin-right: 5px;
					margin-top: -3px;
				}
				&:visited {
					color: rgb(34, 50, 67);
				}
				&:hover {
					transition: 350ms;
					background-color: rgb(122, 139, 158);
					color: rgba(248, 255, 219, 1);
				}
			}
		}
		& .naw {
			margin-top: 0px;
			width: 100%;
			display: none;
			justify-content: center;
			align-items: center;
			& .footer-icon {
				vertical-align: middle;
				margin-left: 5px;
				margin-right: 4px;

				color: rgba(248, 255, 219, 1);
			}
		}
	}
}
